input[type=text], textarea {
  border: 1px solid #999;
  border-radius: 5px;
}

label {
  vertical-align: top;
  float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
}

fieldset {
  border: 0px;
}
